<footer class="footer pb-6 bg-primary text-white pt-9 mt-n9">
    <div class="container">
        <div class="row mt-6">
            <div class="col-md-4">
                <p><strong>IIVaGRN</strong> est dédié à la valorisation et à la gestion durable des ressources naturelles. Grâce à des recherches innovantes et à des collaborations, nous avons pour objectif de soutenir le développement de solutions écologiques qui équilibrent la croissance économique et la protection de l'environnement. Notre mission est de contribuer à l'effort mondial pour un avenir plus vert en fournissant des connaissances, des technologies et des politiques assurant une utilisation responsable des richesses naturelles.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com/iivagrn" aria-label="lien Twitter" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Twitter">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/IIVaGRN" class="icon icon-xs icon-white" aria-label="lien Facebook" data-toggle="tooltip"
                            data-placement="top" title="Aimez-nous sur Facebook">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/IIVaGRN" aria-label="lien Github" class="icon icon-xs icon-white"
                            data-toggle="tooltip" data-placement="top" title="Suivez-nous sur Github">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/IIVaGRN" class="icon icon-xs icon-white" aria-label="lien Dribbble" data-toggle="tooltip"
                            data-placement="top" title="Aimez-nous sur Dribbble">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">À propos de nous</h3>
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://iivagrn.org/blog">Blog</a></li>
                    <li><a target="_blank" href="https://iivagrn.org/projects">Projets</a></li>
                    <li><a target="_blank" href="https://iivagrn.org/about">Qui sommes-nous</a></li>
                    <li><a target="_blank" href="https://iivagrn.org/contact">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <h3 class="h5">Ressources</h3>
                <ul class="links-vertical">
                    <li><a href="https://iivagrn.org/docs/research" target="_blank">Recherche</a></li>
                    <li><a href="https://iivagrn.org/docs/whitepapers" target="_blank">Livres blancs</a></li>
                    <li><a target="_blank" href="https://iivagrn.org/partnerships">Partenariats</a></li>
                    <li><a target="_blank" href="https://iivagrn.org/resources">Ressources</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <h3 class="h5">Abonnez-vous</h3>
                <p class="text-muted font-small">Rejoignez notre liste de diffusion pour recevoir des mises à jour sur nos nouveaux projets, résultats de recherche et informations sur l'environnement.</p>
                <form>
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 font-weight-normal text-muted" for="exampleInputEmail3">Adresse email</label>
                            <input type="email" class="form-control mb-2" placeholder="exemple@iivagrn.org" name="email" aria-label="Formulaire d'abonnement" id="exampleInputEmail3" required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-tertiary shadow-soft btn-block" data-loading-text="Envoi en cours">
                                <span>S'abonner</span>
                            </button>
                        </div>
                    </div>
                </form>
                <small class="text-muted font-small">Nous ne partagerons jamais vos informations. Consultez notre <a class="text-white" href="#">Politique de confidentialité</a></small>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col mb-md-0">
                <a href="https://iivagrn.org" target="_blank" class="d-flex justify-content-center">
                    <img src="/static/assets/img/iivagrn-logo.svg" height="25" class="mb-3" alt="Logo IIVaGRN">
                </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                        &copy; IIVaGRN - Promouvoir la gestion durable des ressources naturelles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
