<footer class="footer pt-6 pb-5 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="navbar-brand-dark mb-4" height="35" src="/static/assets/img/brand/logo10.jpg" alt="Logo">
                <p>Notre mission est de préserver et valoriser les savoirs traditionnels tout en intégrant des solutions modernes et innovantes.</p>
                <ul class="social-buttons mb-5 mb-lg-0">
                    <li>
                        <a href="https://twitter.com" aria-label="twitter social link" class="icon-white me-2">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" class="icon-white me-2" aria-label="facebook social link">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com" aria-label="github social link" class="icon-white me-2">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com" class="icon-white" aria-label="dribbble social link">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Nos Services</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank" href="/projects">Projets</a></li>
                    <li><a target="_blank" href="/about">À Propos</a></li>
                    <li><a target="_blank" href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-5 mb-lg-0">
                <span class="h5">Autres</span>
                <ul class="footer-links mt-2">
                    <li><a href="/docs" target="_blank">Documentation</a></li>
                    <li><a href="/faq" target="_blank">FAQ</a></li>
                    <li><a target="_blank" href="/privacy-policy">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-lg-0">
                <span class="h5">Abonnez-vous</span>
                <p class="text-muted font-small mt-2">Rejoignez notre liste de diffusion pour recevoir les dernières mises à jour et nouvelles.</p>
                <form action="#">
                    <div class="form-row mb-2">
                        <div class="col-12">
                            <label class="h6 fw-normal text-muted d-none" for="exampleInputEmail3">Adresse email</label>
                            <input type="email" class="form-control mb-2" placeholder="exemple@domaine.com" name="email"
                                aria-label="Formulaire d'abonnement" id="exampleInputEmail3" required>
                        </div>
                        <div class="col-12 d-grid">
                            <button type="submit" class="btn btn-tertiary" data-loading-text="Envoi">
                                <span>S'abonner</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="text-muted font-small m-0">Nous ne partagerons jamais vos informations. Consultez notre <a class="text-white" href="/privacy-policy">politique de confidentialité</a>.</p>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-5">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0">
                        &copy; 2025 XageTECH - Développé par XageHUB.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
