
<div class="preloader bg-dark flex-column justify-content-center align-items-center">
    <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
        <circle cx="25" cy="25" r="20" fill="none" stroke="#fff" stroke-width="4" stroke-dasharray="125.6" stroke-dashoffset="125.6">
            <animate 
                attributeName="stroke-dashoffset" 
                from="125.6" 
                to="0" 
                dur="2s" 
                repeatCount="indefinite" />
        </circle>
    </svg>
</div>


