    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- Corrected script paths -->
<script src="{{ url_for('static', filename='assetspages/lib/wow/wow.min.js') }}"></script>

<script src="{{ url_for('static', filename='assetspages/lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/counterup/counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/parallax/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='assetspages/lib/lightbox/js/lightbox.min.js') }}"></script>

<!-- Template Javascript -->
<script src="{{ url_for('static', filename='assetspages/js/main.js') }}"></script>


  