

<script src="{{ url_for('static', filename='menu/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/jquery.slicknav.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/mixitup.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='menu/js/main.js') }}"></script>

