<script src="static/menu/js/jquery-3.3.1.min.js"></script>
<script src="static/menu/js/bootstrap.min.js"></script>
<script src="static/menu/js/jquery.nice-select.min.js"></script>
<script src="static/menu/js/jquery-ui.min.js"></script>
<script src="static/menu/js/jquery.slicknav.js"></script>
<script src="static/menu/js/mixitup.min.js"></script>
<script src="static/menu/js/owl.carousel.min.js"></script>
<script src="static/menu/js/main.js"></script>

<script>
    // Fonction pour liker un remède
    function likeRemede(remedeId) {
        const userId = {{ current_user.id }};
        fetch(`{{ url_for('remedes_blueprint.like_remede', remede_id=0) }}`.replace('0', remedeId), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: userId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById(`like-count-${remedeId}`).textContent = data.nombre_likes;
            }
            alert(data.message);
        })
        .catch(error => console.error('Erreur:', error));
    }

    // Fonction pour partager un remède
    function partagerRemede(remedeId) {
        const userId = {{ current_user.id }};
        fetch(`{{ url_for('remedes_blueprint.partager_remede', remede_id=0) }}`.replace('0', remedeId), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: userId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                document.getElementById(`share-count-${remedeId}`).textContent = data.nombre_partages;
            }
            alert(data.message);
        })
        .catch(error => console.error('Erreur:', error));
    }

    // Fonction pour ajouter un commentaire
    function ajouterCommentaire(event, remedeId) {
        event.preventDefault(); // Empêche le rechargement de la page
        const userId = {{ current_user.id }};
        const comment = document.getElementById(`comment-${remedeId}`).value;

        fetch(`{{ url_for('remedes_blueprint.ajouter_commentaire', remede_id=0) }}`.replace('0', remedeId), {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ user_id: userId, comment: comment })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                document.getElementById(`comment-${remedeId}`).value = ''; // Réinitialiser le champ de texte
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Erreur:', error));
    }
</script>

