<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="static/menu/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="static/menu/css/style.css" type="text/css">