{% extends "layouts/base.html" %}

{% block title %} About {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <section class="section-header bg-secondary text-white">
            <div class="container">
               <div class="row justify-content-between align-items-center">
                  <div class="col-12 col-md-7 col-lg-6 text-center text-md-left">
                        <h1 class="display-2 mb-4">Bienvenue sur<br class="d-none d-md-inline">la plateforme de l'IIVaGRN</h1>
                        <p class="lead mb-4 text-muted">
                            Explorez notre base de données unique en son genre, 
                            dédiée aux remèdes endogènes naturels hérités des savoirs ancestraux. Notre mission
                            est de valoriser, préserver et promouvoir les connaissances traditionnelles sur les 
                            plantes médicinales et leurs applications, en offrant un accès structuré et fiable aux ressources.
                        </p>
                        <a href="/services" class="btn btn-tertiary me-3 animate-up-2">Nos activités<span class="ms-2"><span class="fas fa-arrow-right"></span></span></a>
                    </div>
                  <div class="col-12 col-md-5 d-none d-md-block text-center"><img src="/static/assets/img/illustrations/about-illustration.svg" alt=""></div>
               </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
               <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                  <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
               </svg>
            </figure>
        </section>
        <!-- End of Hero section -->

        <!-- Section -->
        <section class="section section-md">
            <div class="container">
                <div class="row align-items-center justify-content-around">
                    <div class="col-md-6 col-xl-6 mb-5">
                        <img class="organic-radius img-fluid" src="/static/assets/img/sections/about-us-1.jpg" alt="Office Desk">
                    </div>
                    <div class="col-md-6 col-xl-5 text-center text-md-left">
                        <h2 class="h1 mb-5">Tous les défis sont relevés.</h2>
                        <p class="lead">L'Institut International de la Valorisation et de la Gestion des Ressources Naturelles (IIVaGRN) est dédié à la préservation et à la valorisation des savoirs traditionnels et des remèdes endogènes naturels. Notre équipe, composée de chercheurs, collabore avec des partenaires locaux  promouvoir et intégrer ces remèdes dans des solutions modernes.</p>
                        <p class="lead">Comme une base de données dédiée, pour rendre ces connaissances accessibles et durables. Convaincus que les savoirs traditionnels sont essentiels pour relever les défis de santé et de durabilité, nous mettons notre passion et notre expertise au service de la préservation de ces trésors pour les générations futures.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of section -->

        <!-- Section -->
        <section class="section section-lg pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Knowledge Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-book"></span>
                            </div>
                            <h3 class="h5">Remèdes Documentés</h3>
                            <span class="counter display-3 text-gray d-block">1200</span>
                        </div>
                        <!-- End of Knowledge Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Collaboration Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-users"></span>
                            </div>
                            <h3 class="h5">Collaborateurs</h3>
                            <span class="counter display-3 text-gray d-block">300</span>
                        </div>
                        <!-- End of Collaboration Box -->
                    </div>
                    <div class="col-md-4 col-lg-4 text-center">
                        <!-- Countries Box -->
                        <div class="icon-box mb-4">
                            <div class="icon icon-primary mb-4">
                                <span class="fas fa-globe"></span>
                            </div>
                            <h3 class="h5">Pays Représentés</h3>
                            <span class="counter display-3 text-gray d-block">25</span>
                        </div>
                        <!-- End of Countries Box -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End of section -->

        <!-- Section -->
        <section class="section section-lg bg-gray-200">
            <figure class="position-absolute top-0 left-0 w-100 d-none d-md-block mt-n3">
                <svg class="fill-gray-200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                    <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
            </figure>
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <h2 class="h1 fw-light"><span class="fw-bold">Notre</span> histoire</h2>
                    </div>
                </div>
                <div class="row justify-content-center mt-6">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div class="timeline timeline-one dark px-3 px-sm-0">
                                <!-- Timeline Item 1 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Le Présent</h3>
                                    <p>Le projet de base de données des remèdes endogènes naturelles du Bénin est une initiative majeure lancée par l’Institut International de la Valorisation et de la Gestion des Ressources Naturelles (IIVaGRN). Cette plateforme vise à compiler et préserver les savoirs traditionnels sur les plantes médicinales du Bénin, en mettant à disposition un répertoire complet de remèdes, de leurs ingrédients et de leurs modes de préparation.</p>
                                </div>
                                <!-- Timeline Item 2 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Nos Premiers Produits</h3>
                                    <div class="my-3">
                                        <span class="icon icon-sm icon-purple me-2"><span class="fab fa-bootstrap"></span></span>
                                        <span class="icon icon-sm icon-info me-2"><span class="fab fa-react"></span></span>
                                        <span class="icon icon-sm icon-success me-2"><span class="fab fa-vuejs"></span></span>
                                        <span class="icon icon-sm icon-danger"><span class="fab fa-angular"></span></span>
                                    </div>
                                    <p>La base de données en ligne est une ressource essentielle pour la préservation et la diffusion des connaissances sur les plantes médicinales béninoises. L'IIVaGRN s'efforce de mettre en valeur l'usage de ces remèdes traditionnels tout en promouvant la recherche scientifique pour en garantir l'efficacité et la sécurité.</p>
                                </div>
                                <!-- Timeline Item 3 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Notre Bureau</h3>
                                    <img class="mt-2" src="/static/assets/img/office.png" alt="IIVaGRN workspace" width="300">
                                    <p>Notre équipe travaille de concert avec des chercheurs, des herboristes et des spécialistes de la biologie pour compiler et valider les informations relatives aux remèdes naturels du Bénin. Cette base de données sert de référence pour les praticiens de santé et les chercheurs dans le domaine de la médecine traditionnelle et moderne.</p>
                                </div>
                                <!-- Timeline Item 4 -->
                                <div class="timeline-item">
                                    <h3 class="h4 mb-4">Une Idée Devient un Projet</h3>
                                    <p>L'idée de centraliser les remèdes naturels et de les rendre accessibles à tous est devenue une mission pour l'IIVaGRN. Grâce à une plateforme numérique innovante, nous avons créé un espace où l'histoire, les traditions et la science se rencontrent pour la promotion de la médecine traditionnelle béninoise.</p>
                                    <img class="mt-2" src="/static/assets/img/signature.svg" alt="signature" width="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
                <svg class="fill-white" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 43.4" style="enable-background:new 0 0 1920 43.4;" xml:space="preserve">
                    <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
                </svg>
            </figure>
        </section>
        

        <!-- Section -->
        <section class="section section-lg">
            <div class="container">
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-9 col-lg-8 text-center mx-auto">
                        <h2 class="h1 mb-4">Notre Projet: Remèdes Endogènes Naturelles du Bénin</h2>
                        <p class="lead">Nous avons mis en place une base de données dédiée aux remèdes endogènes naturelles du Bénin. Ce projet, porté par l'Institut International de la Valorisation et de la Gestion des Ressources Naturelles (IIVaGRN), vise à recenser et préserver les savoirs ancestraux tout en les rendant accessibles pour la recherche scientifique et le développement de nouveaux traitements.</p>
                    </div>
                </div>
                <div class="row mb-5 mb-lg-6">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-top" alt="Joseph Portrait">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Joseph Garth</h3>
                                <span class="card-subtitle text-gray fw-normal">Co-Fondateur</span>
                                <p class="card-text my-3">Joseph Garth est l'un des fondateurs de l'Institut International de la Valorisation et de la Gestion des Ressources Naturelles (IIVaGRN), un expert dans la préservation et la gestion des remèdes naturels du Bénin.</p>
                                <ul class="list-unstyled d-flex mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                            <span class="fab fa-slack-hash"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="card shadow border-gray-300">
                            <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-top" alt="Bonnie portrait">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Bonnie Green</h3>
                                <span class="card-subtitle text-gray fw-normal">Développeuse Web</span>
                                <p class="card-text my-3">Bonnie Green travaille sur le développement de la plateforme web qui hébergera la base de données des remèdes endogènes, en utilisant des technologies modernes pour garantir une navigation facile et intuitive.</p>
                                <ul class="list-unstyled d-flex mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                            <span class="fab fa-slack-hash"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card shadow border-gray-300">
                            <img src="/static/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-top" alt="Jose Avatar">
                            <div class="card-body">
                                <h3 class="h4 card-title mb-2">Jose Leos</h3>
                                <span class="card-subtitle text-gray fw-normal">Designer de publications Web</span>
                                <p class="card-text my-3">Jose Leos est responsable de la conception graphique et de la mise en page des publications numériques liées à notre projet. Il veille à ce que chaque élément soit visuellement attractif tout en respectant l’identité de notre projet.</p>
                                <ul class="list-unstyled d-flex mt-3 mb-0">
                                    <li>
                                        <a href="#" target="_blank" aria-label="facebook social link" class="icon-facebook me-3">
                                            <span class="fab fa-facebook-f"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="twitter social link" class="icon-twitter me-3">
                                            <span class="fab fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="slack social link" class="icon-slack me-3">
                                            <span class="fab fa-slack-hash"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank" aria-label="dribbble social link" class="icon-dribbble me-3">
                                            <span class="fab fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <!-- Contact Card -->
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>Envie de collaborer avec nous ?</h2>
                                <p>Nous serions ravis de discuter de votre projet de recherche ou d’initier un partenariat pour développer la base de données des remèdes endogènes.</p>
                            </div>
                            <div class="card-body pt-0">
                                <form action="#">
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="name">Votre Nom</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                            <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <!-- Form -->
                                    <div class="mb-4">
                                        <label for="email">Votre Email</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                            <input type="email" class="form-control" placeholder="exemple@entreprise.com" id="email" required>
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="mb-4">
                                        <label for="message">Votre Message</label>
                                        <textarea placeholder="Votre message" class="form-control" id="message" rows="4" required></textarea>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-secondary">Envoyer le message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- End of Contact Card -->
                    </div>
                </div>
            </div>
        </section>
        
        <!-- End of section -->

    </main>

    <section class="section py-0">
        <div class="container z-2">
            <div class="row position-relative justify-content-center align-items-center">
                <div class="col-12">
                    <!-- Card -->
                    <div class="card border-light px-4 py-1">
                        <div class="card-body text-center text-md-left">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <h2 class="h1 mb-3">Rejoignez notre équipe</h2>
                                    <p class="lead mb-4">
                                        Vous souhaitez rejoindre notre équipe et travailler à distance depuis n'importe où ? Nous avons hâte de vous entendre !
                                    </p>
                                    <a href="#" class="btn btn-primary">
                                        <span class="me-1">
                                            <span class="fas fa-file-invoice"></span>
                                        </span>
                                        Découvrez nos offres
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right">
                                    <img src="/static/assets/img/illustrations/reading-side.svg" alt="Illustration de lecture">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card -->
                </div>
            </div>
        </div>
    </section>
    
    

    {% include 'includes/footer-about.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
