{% extends "layouts/base_form.html" %}

{% block title %} Ajout ou édition d'un ingrédient {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
<!-- CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- JS Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% block content %}

<main>
    {% include 'includes/preloader.html' %}
    <!-- Section -->
    <section class="section section-lg pt-6">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-6">
                <div class="col-12 col-lg-8">
                    <!-- Form Card -->
                    <div class="card border-0 p-2 p-md-3 p-lg-5">
                        <div class="card-header bg-white border-0 text-center">
                            <h2>Ajouter ou éditer un remède</h2>
                            <p>Complétez le formulaire pour enregistrer un remède</p>
                            <a href="/dashboard-remede" class="btn btn-secondary btn-sm">
                                Retour
                            </a>
                            <br />
                            <span class="font-weight-normal">
                                {% if msg %}
                                    <span class="{{ 'text-success' if success else 'text-danger' }}">
                                        {{ msg | safe }}
                                    </span>
                                {% else %}
                                    Remplissez les informations demandées ci-dessous
                                {% endif %}
                            </span>
                        </div>
                        <div class="card-body px-0 pt-0">
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form.hidden_tag() }}
                            
                                <div class="mb-4">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mauxModal">
                                        Sélectionner une ou plusieurs maux
                                    </button>
                                </div>
                            
                                <!-- Fenêtre modale Maux -->
                                <div class="modal fade" id="mauxModal" tabindex="-1" aria-labelledby="mauxModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="mauxModalLabel">Sélectionner les maux concernés</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% for mal in maux %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ mal.id }}" id="mal{{ mal.id }}" 
                                                    {% if mal.id in selected_maux %} checked {% endif %}>
                                                    <label class="form-check-label" for="mal{{ mal.id }}">
                                                        {{ mal.nom_commun }}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="">Ajouter un nouveaux</a>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                <button type="button" class="btn btn-primary" id="saveMaux">Enregistrer la sélection</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Champs du formulaire -->
                                <div class="mb-4">
                                    <label for="nom">{{ form.nom.label }}</label>
                                    {{ form.nom(class="form-control", placeholder="Ex. : Gingembre", value=ingredient.nom) }}
                                    {% if form.nom.errors %}
                                        <span class="text-danger">{{ form.nom.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="description">{{ form.description.label }}</label>
                                    {{ form.description(class="form-control", placeholder="Nom local en langue Fon", value=ingredient.description) }}
                                    {% if form.description.errors %}
                                        <span class="text-danger">{{ form.description.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="preparation">{{ form.preparation.label }}</label>
                                    {{ form.preparation(class="form-control", placeholder="Nom scientifique de l'ingrédient", value=ingredient.preparation) }}
                                    {% if form.preparation.errors %}
                                        <span class="text-danger">{{ form.preparation.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="indications">{{ form.indications.label }}</label>
                                    {{ form.indications(class="form-control", placeholder="Ex. : Racine, Feuille", value=ingredient.indications) }}
                                    {% if form.indications.errors %}
                                        <span class="text-danger">{{ form.indications.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="dosage">{{ form.dosage.label }}</label>
                                    {{ form.dosage(class="form-control", placeholder="Propriétés thérapeutiques, nutritives, etc.", value=ingredient.dosage) }}
                                    {% if form.dosage.errors %}
                                        <span class="text-danger">{{ form.dosage.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="precautions">{{ form.precautions.label }}</label>
                                    {{ form.precautions(class="form-control", placeholder="Précautions à prendre", value=ingredient.precautions) }}
                                    {% if form.precautions.errors %}
                                        <span class="text-danger">{{ form.precautions.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="latitude">{{ form.latitude.label }}</label>
                                    {{ form.latitude(class="form-control", placeholder="Coordonnée géographique : latitude", value=ingredient.latitude) }}
                                    {% if form.latitude.errors %}
                                        <span class="text-danger">{{ form.latitude.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="longitude">{{ form.longitude.label }}</label>
                                    {{ form.longitude(class="form-control", placeholder="Coordonnée géographique : longitude", value=ingredient.longitude) }}
                                    {% if form.longitude.errors %}
                                        <span class="text-danger">{{ form.longitude.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <div class="mb-4">
                                    <label for="liens">{{ form.liens.label }}</label>
                                    {{ form.liens(class="form-control", placeholder="Liens utiles, sources, etc.", value=ingredient.liens) }}
                                    {% if form.liens.errors %}
                                        <span class="text-danger">{{ form.liens.errors[0] }}</span>
                                    {% endif %}
                                </div>
                            
                                <!-- Sélection des ingrédients, maux, articles -->
                                <div class="mb-4">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ingredientsModal">
                                        Sélectionner les ingrédients
                                    </button>
                                </div>
                            
                                <!-- Modal Ingrédients -->
                                <div class="modal fade" id="ingredientsModal" tabindex="-1" aria-labelledby="ingredientsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ingredientsModalLabel">Sélectionner les ingrédients</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% for ingredient in ingredients %}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="{{ ingredient.id }}" id="ingredient{{ ingredient.id }}" 
                                                    {% if ingredient.id in selected_ingredients %} checked {% endif %}>
                                                    <label class="form-check-label" for="ingredient{{ ingredient.id }}">
                                                        {{ ingredient.nom_commun }}
                                                    </label>
                                                    <input type="text" class="form-control mt-2" id="quantity{{ ingredient.id }}" 
                                                    placeholder="Quantité" value="{{ selected_quantities[ingredient.id] }}">
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <a href="/add_ingredient">Ajouter un nouveaux</a>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                                <button type="button" class="btn btn-primary" id="saveIngredients">Enregistrer la sélection</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Soumettre -->
                                <div class="d-grid">
                                    <button type="submit" class="btn rounded btn-secondary">Soumettre</button>
                                </div>
                            </form>
                            
                          
                            
                   </div>
                    </div>
                    <!-- End of Form Card -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->
</main>


{% include 'includes/footer-admin.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
{% include 'includes/scripts-admin.html' %}
{% include 'includes/script-edit-remede.html' %}


{% endblock javascripts %}

