<div class="row mt-4">
    <div class="col-md-2">
        <!-- Button Modal -->
        <div class="d-grid">
            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                data-bs-target="#modal-default">Ajouter un ingrédient</button>
        </div>
        <!-- Modal Content -->
        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="h6 modal-title">Ajouter un nouvel ingrédient</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">J'accepte</button>
                        <button type="button" class="btn btn-link ms-auto"
                            data-bs-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->
    </div>
    <div class="col-md-2">
        <!-- Button Modal -->
        <div class="d-grid">
            <button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal"
                data-bs-target="#modal-notification">Choisir un ingrédient pour mon remède</button>
        </div>
        <!-- Modal Content -->
        <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog"
            aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-primary text-white">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <h2 class="h4 modal-title my-3">Les différents ingrédients</h2>
                            <div class="col-12">
                                <!-- Liste des ingrédients dynamiques -->
                                <div class="mb-3">
                                    <span class="h6 fw-bold">Sélectionnez vos ingrédients</span>
                                </div>
                                {% for ingredient in ingredients %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ ingredient.id }}" name="ingredients" id="ingredient-{{ ingredient.id }}">
                                    <label class="form-check-label" for="ingredient-{{ ingredient.id }}">
                                        {{ ingredient.nom_commun }} 
                                        <div class="mb-4">
                                            <input type="text" class="form-control" value="" name="quantite" id="validationServerUsername" required>
                                            <div class="invalid-feedback">
                                                Veuillez choisir une quantité.
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-secondary">
                        <button type="button" class="btn btn-sm btn-white">Aller à</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Modal Content -->
    </div>
</div>